<h1> Dynamic-Reactive Form Example </h1><br>
<form [formGroup]="person" (submit)="_submitPersonForm()">

  <label>Name:
    <input formControlName="name">
  </label><br>
  <label>LastName:
    <input formControlName="lastName">
  </label><br>
  <label>Email:
    <input formControlName="email">
  </label><br>
  <div formArrayName="alternateEmail" *ngFor="let email of alternateEmail.controls; let i=index">
    <label>Alternate Email:
      <input type="text" [formControlName]="i">
    </label><br>
  </div>
  <button (click)="_addAlternateEmail()">Add alternate email:</button>
  <br>
  <div formGroupName="address">
    <label>Address</label><br>

    <label>City:
      <input formControlName="city">
    </label><br>
    <label>Pincode:
      <input formControlName="pincode">
    </label><br>

    <label>State:
      <input formControlName="state">
    </label><br>
    <br>
  </div>

  <button>Submit</button>

</form>
